In [71]:
# Import packages into the workspace for this program

# future__ module is a built-in module in Python that is used to inherit new features that will be available in the new Python versions.. This module 
# includes all the latest functions which were not present in the previous version in Python.
from __future__ import division,print_function

import numpy as np
import pandas as pd
import statsmodels.api as sm

In [72]:
# load our dataset
dataset = pd.read_csv(r"C:\Users\Zachary_B\Desktop\dataset\DatasetNexusTech_ Customer Data.csv")

In [73]:
# Use df.columns command to drop columns via indexing
dataset = dataset.drop(dataset.columns[[0,3,9,12,13,14,15,16,17,23,24,25,27,28,29,30]], axis=1)

In [74]:
dataset.columns

Index(['First Name', 'Last Name', 'Gender', 'Marital Status', 'Converted',
       'Sponsored/Self Sponsored', 'Location', 'Employment Status',
       'Personal Interests', 'Date of Birth', 'Education', 'Profession',
       'Programme of Interest', 'Level of IT Experience',
       'Employment Preferences'],
      dtype='object')

In [75]:
dataset.head()

,First Name,Last Name,Gender,Marital Status,Converted,Sponsored/Self Sponsored,Location,Employment Status,Personal Interests,Date of Birth,Education,Profession,Programme of Interest,Level of IT Experience,Employment Preferences
0,Miracle,Obiekwe,Male,Single,NO,NaN,Enugu State,Self employed / Business Owner,<p>Data science</p>\n,22/06/1995,Bachelor&#039;s Degree,Computer science,Data Science,Intermediate ( 2 - 5 years ),Foreign Employment
1,Ibilola,Shobanke,Female,Married,NO,NaN,Oyo State,Employed,"<p>Technology, Business </p>\n",09/07/1984,Masters,Lecturing,Data Analytics,Beginner ( 0 - 2 years ),Foreign Employment
2,Damilola,Oseni,Female,Married,Yes,Sponsored,FCT,Employed,<p>Business</p>\n,21/08/1990,Bachelor&#039;s Degree,Biochemist,Data Analytics,Beginner ( 0 - 2 years ),Local Employment
3,Kabir,Salawudeen,Male,Married,NO,NaN,FCT,Employed,<p>Technology</p>\n,01/01/1990,HND,Computer Science,Full-Stack Software Development,Advanced ( 5 years and above ),Foreign Employment
4,Bashir,Hussain,Male,Married,NO,NaN,FCT,Employed,"<p>Technology, Sports and Travels</p>\n",14/05/1980,Bachelor&#039;s Degree,Banking,Data Analytics,Advanced ( 5 years and above ),Foreign Employment

In [76]:
dataset['Gender']

0       Male
1     Female
2     Female
3       Male
4       Male
5       Male
6       Male
7     Female
8       Male
9     Female
10    Female
11    Female
12    Female
13    Female
14      Male
15      Male
16    Female
17    Female
18    Female
19    Female
20    Female
21      Male
22      Male
23      Male
24    Female
25      Male
Name: Gender, dtype: object

In [77]:
dataset_2 = dataset[dataset['Converted'] == 1]
print(dataset_2.shape)

(0, 15)

In [78]:
# select subset of variables needed for cluster analysis and post-analysis
new_dataset = pd.DataFrame(dataset_2, \
columns = ['First Name', 'Last Name', 'Gender', 'Marital Status', 'Sponsored/Self Sponsored', 'Location', 'Employment Status', 'Personal Interests', 'Date of Birth',
       'Education', 'Profession', 'Programme of Interest','Level of IT Experience', 'Employment Preferences'])

In [79]:
new_dataset['Personal Interests'] = new_dataset['Personal Interests'].str.replace(r'</p>|<p>|\n', '',regex = True)

In [80]:
new_dataset['Education'] = new_dataset['Education'].replace('Bachelor&#039;s Degree', 'Bachelors')

In [81]:
new_dataset['Programme of Interest'] = new_dataset['Programme of Interest'].replace('Data Analytics', 'Data Science')

In [82]:
from datetime import date,datetime

def age(born):
    born = datetime.strptime(born, "%d/%m/%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
  
new_dataset['Age'] = new_dataset['Date of Birth'].apply(age)

In [83]:
new_dataset['Prospect_ID'] = [ 'DS1', 'DS2', 'DS3','DS4','DS5','DS6','DS7','DS8','DS9','DS10','DS11','DS12','DS13','DS14','DS15','DS16','DS17','DS18',
                     'DS19','DS20','DS21','DS22','DS23','DS24','DS25','DS26']

In [66]:
new_dataset['Is.Female']

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
Name: Is.Female, dtype: int64