In [1]:
# importing neccessary packages
import pandas as pd
import numpy as np
from datetime import date,datetime
import matplotlib.pyplot as plt

In [36]:
# importing dataset
df=pd.read_csv(r"C:\Users\Zachary_B\Desktop\Dataset\Datasetnexustech Education_ Customer_Data_Details .csv")

In [37]:
# Return the first five number of rows.
df.head()

,Submitted,First Name,Last Name,Email Address,Gender,Marital Status,Converted,Location,Postal Address,Employment Status,...,Programme of Interest,Level of IT Experience,What is your main motivation for enrolling in the programme?,What are the challenges you've experienced while trying to meet the above stated goal(s)?,What can we do to help you overcome these challenges?,Employment Preferences,Monthly Salary Expectations (in Naira),What is your short term (2 years) career goal?,What is your mid-term (2 - 5 years) career goal?,What is your long term (5+ years) career goal?
0,12/05/2022 15:06,Miracle,Obiekwe,miracleobiekwe@yahoo.com,Male,Single,NO,Enugu State,<p>Nigeria prisons barracks enugu state comman...,Self employed / Business Owner,...,Data Science,Intermediate ( 2 - 5 years ),<p>That I can do all things through Christ tha...,<p>Coding is my challenge.. I have tried it be...,<p>I need maximum attention and guidance</p>\n,Foreign Employment,2.5million,<p>To be a consultant in the field of data sci...,<p>Empowering children from the street to stud...,<p>To be the best across the globe</p>\n
1,06/04/2022 20:41,Ibilola,Shobanke,lolashobanke@gmail.com,Female,Married,NO,Oyo State,"<p>3 Fafunlayo Layout, Iwo Road, Ibadan </p>\n",Employed,...,Data Analytics,Beginner ( 0 - 2 years ),<p>For self development and to increase my cha...,<p>N/A</p>\n,<p>N/A</p>\n,Foreign Employment,"N2,000,000",<p>Becoming a genius in data analytics and hav...,<p>To become diverse in the other aspects of t...,NaN
2,06/04/2022 12:22,Damilola,Oseni,dammygeorge5050@gmail.com,Female,Married,YES,FCT,"<p>1 EMMANUEL NTUK, GOSHEN VILLA ESTATE, LUGBE...",Employed,...,Data Analytics,Beginner ( 0 - 2 years ),<p>Knowledge </p>\n,<p>Fear of failing<br />\nBudget<br />\nLack o...,<p>Give Feedbacks on how I can improve</p>\n,Local Employment,"100,000",<p>Successful implementation of what I have le...,<p>To work in an organization</p>\n,NaN
3,06/04/2022 09:30,Kabir,Salawudeen,salawudeenkabeer@gmail.com,Male,Married,NO,FCT,"<p>23, Angwar Siyawa Abuja Nigeria</p>\n",Employed,...,Full-Stack Software Development,Advanced ( 5 years and above ),<p>One of your student got a good and well pay...,<p>Network challenges and at times work relate...,<p>If I can have a full knowledge in becoming ...,Foreign Employment,"300,000.00",<p>1.Earn a new certificate or degree.<br />\n...,<p>Start a personal project.</p>\n,<p>1. Get familiar with new technology.<br />\...
4,05/04/2022 14:40,Bashir,Hussain,uniquebash@gmail.com,Male,Married,NO,FCT,"<p>Plot 785 Herbert Macaulay Way, CBD Abuja</p>\n",Employed,...,Data Analytics,Advanced ( 5 years and above ),<p>To start a career path on technology </p>\n,<p>Interest </p>\n,<p>Enrolment </p>\n,Foreign Employment,"500,000.00",<p>To obtain basic certification on technology...,<p>To obtain multiple certifications on techno...,<p>To be a reference point in technology </p>\n

In [38]:
df.shape

(49, 30)

In [39]:
df.isnull().sum()

Submitted                                                                                     0
First Name                                                                                    0
Last Name                                                                                     0
Email Address                                                                                 0
Gender                                                                                        0
Marital Status                                                                               11
Converted                                                                                    15
Location                                                                                      0
Postal Address                                                                               10
Employment Status                                                                             0
Personal Interests                                                                            0
What Social Media do you use?                                                                 0
What is your primary objective/goal for enrolling in this programme?                          0
What is your secondary objective/goal for enrolling in this programme?                        7
What can we do to help you achieve the above stated goal(s)?                                  0
How you determine the achievement of above stated goal(s)?                                    0
Phone Number                                                                                  0
Date of Birth                                                                                 0
Education                                                                                     0
Profession                                                                                   26
Programme of Interest                                                                         0
Level of IT Experience                                                                        2
What is your main motivation for enrolling in the programme?                                  0
What are the challenges you've experienced while trying to meet the above stated goal(s)?    25
What can we do to help you overcome these challenges?                                        25
Employment Preferences                                                                       27
Monthly Salary Expectations (in Naira)                                                       16
What is your short term (2 years) career goal?                                               27
What is your mid-term (2 - 5 years) career goal?                                             27
What is your long term (5+ years) career goal?                                               30
dtype: int64

In [40]:
# Use df.columns command to drop columns via indexing
df = df.drop(df.columns[[0,3,8,11,12,13,14,15,16,22,23,24,26,27,28,29]], axis=1)

In [41]:
df.isnull().sum()

First Name                 0
Last Name                  0
Gender                     0
Marital Status            11
Converted                 15
Location                   0
Employment Status          0
Personal Interests         0
Date of Birth              0
Education                  0
Profession                26
Programme of Interest      0
Level of IT Experience     2
Employment Preferences    27
dtype: int64

In [42]:
df.columns

Index(['First Name', 'Last Name', 'Gender', 'Marital Status', 'Converted',
       'Location', 'Employment Status', 'Personal Interests', 'Date of Birth',
       'Education', 'Profession', 'Programme of Interest',
       'Level of IT Experience', 'Employment Preferences'],
      dtype='object')

In [43]:
df['Personal Interests'] = df['Personal Interests'].str.replace(r'</p>|<p>|\n', '',regex = True)

In [44]:
df['Education'] = df['Education'].replace('Bachelor&#039;s Degree', 'Bachelors')

In [45]:
df['Programme of Interest'] = df['Programme of Interest'].replace('Data Analytics', 'Data Science')

In [46]:
df['Date of Birth']

0     22/06/1995
1     09/07/1984
2     21/08/1990
3     01/01/1990
4     14/05/1980
5     01/05/1978
6     07/07/1997
7     21/10/1995
8     02/02/1983
9     01/02/1996
10    17/11/1982
11    18/06/1975
12    26/08/1973
13    28/11/1976
14    18/09/1982
15    24/09/1971
16    20/03/2007
17    12/12/1995
18    11/11/2004
19    15/07/2003
20    19/02/2005
21    13/12/1999
22    23/10/1994
23    03/03/2000
24    29/09/2001
25    17/01/2006
26    04/03/2006
27    08/06/2002
28    11/06/2007
29    23/09/2001
30    05/06/1998
31    09/07/1984
32    12/04/2007
33    02/08/2004
34    09/11/1993
35    22/02/1967
36    22/06/1995
37    01/01/1990
38    14/05/1980
39    01/05/1978
40    07/07/1997
41    21/10/1995
42    02/02/1983
43    01/02/1996
44    17/11/1982
45    18/06/1975
46    26/08/1973
47    18/09/1982
48    24/09/1971
Name: Date of Birth, dtype: object

In [47]:
from datetime import date,datetime

def age(born):
    born = datetime.strptime(born, "%d/%m/%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))
  
df['Age'] = df['Date of Birth'].apply(age)

In [48]:
df['Prospect_ID'] = [ 'DS1', 'DS2', 'DS3','DS4','DS5','DS6','DS7','DS8','DS9','DS10','DS11','DS12','DS13','DS14','DS15','DS16','DS17','DS18',

ValueError: Length of values (26) does not match length of index (49)